
<!---------------sidebar-------------->
<div th:fragment="sidebarNav">
    <div class="sidebar">
        <div class="logo-details">
<!--            <i class="bx bxl-c-plus-plus"></i>-->
            <img src="/assets/images/taxi.png" style="width: 40px; margin-left: 10px">
            <span class="logo_name ms-3">Taxi Booking</span>
        </div>
        <ul class="custom-nav-links" style="margin-left: -32px;">
            <li>
                <a href="dashboard" class="active">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="driver">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Drivers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Ongoing Trip</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Trip Payments</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Trip History</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Cancelled Trips</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Customers</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Vehicle</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Payment Settle</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Message</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Support Messages</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Rider Notification</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Vehicle Types</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Profit Report</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Setting</span>
                </a>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class="bx bx-log-out"></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!---------------sidebar1-------------->